* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gameTitle {
  font-weight: 18px;
  color: black;
}
.App {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  text-align: center;
}
.gameBox {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  align-items: center;
}
.box {
  position: relative;
  width: 100px;
  height: 100px;
  border: 5px solid #00ffff;
  background-color: #00ffff;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}
.clickedX {
  background-color: blue;
  color: black;
  opacity: 1;
}
.clickedX::after,
.xHover:hover::after {
  transition: 0.3s;
  content: "";
  position: absolute;
  width: 100px;
  height: 20px;
  border-radius: 15px;
  background-color: #fff;
  left: -5px;
  top: 35px;
  transform: rotate(45deg);
}

.clickedX::before,
.xHover:hover::before {
  transition: 0.3s;
  content: "";
  position: absolute;
  width: 100px;
  height: 20px;
  border-radius: 15px;
  background-color: #fff;
  left: -5px;
  top: 35px;
  transform: rotate(-45deg);
}
.clickedO::after,
.oHover:hover::after {
  transition: 0.3s;
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 75px;
  height: 75px;
  border: 20px solid #fff;
  border-radius: 50%;
}
.clickedO {
  background-color: red;
}

.xHover:hover {
  background-color: blue;
}
.oHover:hover {
  background-color: red;
}
